// Fix article header & footer background
article header {
  background: transparent;
  color: $ym-text-color;
    h1 {
      background: transparent;
      color: $ym-headings-color;
    }
  }   
  article footer {
  background: transparent;
  color: $ym-text-color;
  } 

// Fix header h1 margin, padding, link color and hover YAML style
header {
    div.header {
      h1 {
        margin:0;
        padding: $line-height / $ym-h1-font-scale*2*1em 0;
        a {
          color: $header-title-color;
          &:hover { color: $header-title-color; background: $header-background-color;}
        }
      }
    }
  } 
 
// Navigation
.ym-hlist ul {
margin: 0;
padding: 0.5em 0;
display: inline;
float: left;
}

// Top margin for sidebar widgets
.widget {
    margin: $line-height / $ym-h2-font-scale*3*1em 0 0;
  }
   
/* Remove list element icons in sidebar */
.sidebar ul {
  list-style-type: none;
}

// Accent color under sidebar titles
.sidebar h4 {
  border-bottom: 1px $accent-color solid;
}

// No Hover Background on Image Links
a img {
  display: block;
}
a:hover img {
  background-color:transparent!important;
}
// Image alignment
img {
  &.alignleft {
    float: left;
    display: inline;
    margin: 0 1em 1em 0;
  }
  &.alignright {
    float: right;
    display: inline;
    margin: 0 0 1em 1em;
  }
  &.aligncenter {
    text-align: center;
    margin: 0 auto 0 auto;
  }
}

// Everything responsive
img, video, audio, embed, object, input, iframe {
    max-width: 100%;
    height:auto;
}

// More Link
.more-link {
  float:right;
  margin-top: 1em;
}

// Clear Div
.clear {
  clear:both;
  height:0;
  margin:0;
  padding:0;
}
