/*  Welcome to WP-YAML :)
 *  URL: http://wpyaml.com
 *  Author: Peter Hadorn @peterhadorn
 *  
 *  WP YAML all variables, edit as you like!
 *  
 * @package WP YAML
 * @since WP YAML 0.1.0
 * 
 */
 

$total-site-width 		: 80em; /* You can use any em, px and % values here! */
$main-column-padding	: 1.5em; /* You can use any em, px and % values here! DELETE???*/
$main-vertical-margin		: 2em; /* Vertical margins between header/content/footer , you can use any em, px and % values here! */
$base-font-scale		: 1; /* Experimental feature - don't change this value unless you understand what you're doing...  DELETE???*/

$header-background-color	: #444;  /* YAML grey */
$header-title-color		: #eee; /* YAML white */
$accent-color			: #aa1124; /*YAML red */